[Unit]
Description=SDDM Theme fix
Before=graphical.target sddm.service

[Mount]
What=/var/sddm
Where=/usr/share/sddm
Options=bind
Type=none

[Install]
WantedBy=multi-user.target
