[Unit]
Before=basic.target
After=mkdir-rootfs@home-mnt.service
Wants=mkdir-rootfs@home-mnt.service

[Mount]
What=/var/home
Where=/home
Options=bind
Type=none

[Install]
WantedBy=basic.target
