[Unit]
Before=basic.target
After=mkdir-rootfs@mnt.service
Wants=mkdir-rootfs@mnt.service

[Mount]
What=/var/mnt
Where=/mnt
Options=bind
Type=none

[Install]
WantedBy=basic.target
