[Unit]
Description=Initial Pwn-Linux Setup
Before=graphical.target sddm.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/pwn-linux-initial-setup
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=graphical.target
